<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <h1>Today</h1>
      <p class="date">{{today | date:'fullDate'}}</p>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let exam of exams">
    <ion-card>
     <ion-card-header>
      <ion-card-title>{{exam.name}}</ion-card-title>
      <ion-item>
       <ion-icon *ngIf="exam.difficulty === 'easy'" name="logo-ionic"
    color="success"></ion-icon>
       <ion-icon *ngIf="exam.difficulty === 'hard'" name="logo-ionic"
    color="danger"></ion-icon>
    <ion-icon>{{exam.id}}</ion-icon>
       <ion-label>&nbsp;{{exam.difficulty}}</ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
     <p>{{exam.date | date:'fullDate'}}</p>
     <ion-row>
       <ion-button (click)="goToUpdatePage(exam)">Update</ion-button>
       <ion-button>Delete</ion-button>
    </ion-row>
   </ion-card-content>
   </ion-card>
  </ion-list>
    
      
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToAddPage()">
      <ion-icon name="add">Add</ion-icon>
    </ion-fab-button>
  </ion-fab>
  </ion-content>
    
  

  

